/* Estilizando o html e o body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilizando o body */
body {
    background-color: #F8F9FA;
    color: #1C1C1C;
    font-family: 'Roboto', sans-serif;
    padding: 0 10% 0 10%;
}
/* ------------------------------------------------------------------------------------ */
header {
    background-color: #533194;
    height: 80px;
    border-radius: 0 0 15px 15px; /* Bordas inferiores arredondadas */
    position: relative;
}
div#menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 10px; /* Adiciona bordas arredondadas ao menu */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
    display: flex;
    background-color: #6F42C1;
    justify-content: space-between; /* Espaço entre os itens */
}
div#menu h3 {
    display: flex;
    padding: 13px;
    color: #EDEDED;
    font-size: 1.25rem;
}
div#menu span {
    color: #28FFBF;
}
nav {
    display: flex;
    align-items: center; /* Centraliza os itens na vertical */
}
nav > a {
    padding: 15px;
    color: #EDEDED;
    text-decoration: none;
    
}
nav > a:hover {
    background-color: #28FFBF;
    color: #1C1C1C;
    border-radius: 10px;
    transition: 0.5s;
}

nav > a:active {
    color: #007BFF;
}
@media (max-width: 768px) {
    span#icone-menu {
        margin-right: 25px;
        display: block;
    }
    div#menu {
        border-radius: 10px 10px 10px 0px;
    }
    div nav {
        position: absolute;
        transition: 0.5s;
        left: -250px;
        height: 500px;
        width: 250px;
        background-color: #6F42C1;
        top: 50px;
        flex-direction: column;
        border-radius: 0 0 10px 10px;
    }
    h3:hover + nav, nav:hover {
        left: 0;
        transition: 0.5s;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
    }
    div nav a {
        background-color: #533194;
        padding: 15px;
        margin-top: 10px;
        text-align: center;
        width: 180px;
        border-bottom: 1px solid #EDEDED;
        border-radius: 10px;
        align-items: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
    }
    div nav a:hover {
        border-bottom: none;
        transform: scale(1.05);
    }
}
@media (min-width: 768px) {
    span#icone-menu {
        display: none;
    }
}
/* ------------------------------------------------------------------------------------ */
/* Estilização Geral */
/* Estilo do conteúdo principal */
main {
    background-color: #F8F9FA;
    padding: 40px;
}

h1 {
    text-align: center;
    color: #533194;
    margin-bottom: 20px;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.projeto {
    background-color: #6F42C1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.projeto img {
    width: 100%;
    border-bottom: 2px solid #28FFBF;
}

.projeto h3 {
    color: #28FFBF;
    padding: 15px 0;
    text-align: center;
}

.projeto p {
    padding: 0 20px 20px 20px;
    text-align: center;
    color: #EDEDED;
}

.projeto:hover {
    transform: scale(1.03);
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 5px;
    background: #6F42C1;
}
h2 {
    color: #533194;
    padding: 10px;
    margin-bottom: 10px;
}
h3 a {
    text-align: center;
    color: #EDEDED;
    text-decoration: none;
    background-color: #533194;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
h3 a:hover {
    background-color: #28FFBF;
}
@media (max-width: 768px) {
    .projetos {
        grid-template-columns: 1fr;
    }
}

/* ------------------------------------------------------------------------------------ */
footer {
    padding: 15px;
    background-color: #6F42C1; /* Cor de fundo do footer */
    color: #EDEDED; /* Cor do texto */
    height: auto; /* Altura ajustada automaticamente */
    border-radius: 15px 15px 0 0; /* Bordas superiores arredondadas */
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.2); /* Sombra superior */
    display: flex;
    justify-content: center; 
    align-items: center; /* Centraliza verticalmente o conteúdo principal */
}
footer div {
    margin-right: 30px;
}
footer div h4 {
    font-size: 1.5rem;
    color: #EDEDED;
    margin: 0;
}
footer div h4 span {
    color: #28FFBF; /* Destaque para "Tech" */
}
footer div p {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #F8F9FA; /* Branco gelo */
}
footer div.barra-vertical {
    width: 3px;
    height: 60px; /* Altura da barra */
    background-color: #EDEDED; /* Cor da barra */
}
footer nav {
    display: flex;
    flex-direction: column;
}
footer nav a, footer nav p {
    color: #EDEDED; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 0.9rem;
    transition: color 0.3s ease;
}
footer nav a:hover {
    color: #28FFBF; /* Cor de destaque no hover */
}
/* ------------------------------------------------------------------------------------ */
/* Estilos para smartphones maiores e tablets pequenos */
@media (max-width: 768px) {
    body {
        padding: 0;
    }
    footer div h4 {
        font-size: 1.2rem;
    }
    footer div p, footer nav a, footer nav p {
        font-size: 0.8rem;
    }
}
/* ------------------------------------------------------------------------------------ */
/* Estilização pra rolagem */
/* Estilo Geral */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    height: 10px; /* Altura da barra (para rolagem horizontal) */
}
/* Fundo da barra */
::-webkit-scrollbar-track {
    background: #343A40; /* Cinza escuro */
    border-radius: 0; /* Cantos arredondados */
}
/* Polegar (parte que arrasta) */
::-webkit-scrollbar-thumb {
    background: #6F42C1; /* Roxo vibrante */
    border-radius: 5px;
    border: 2px solid #343A40; /* Espaço ao redor do polegar */
}
/* Polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #007BFF; /* Azul elétrico ao passar o mouse */
}
/* ------------------------------------------------------------------------------------ */